/*
!.gitignore
!/2021base/
!/2022base_ent/
!/2022base_pri/
!/2023base_pri/
!/2024base/
/2024base/*.snap*
/2024base/*.dot
/2024base/*.png
/2024base/*.svg
!/2025prebase/
/2025prebase/*.dot
/2025prebase/*.png
/2025prebase/*.svg
!/2025base/
!/2025base_c_team/
/2025base/*.dot
/2025base/*.png
/2025base/*.svg
!/aflac2019/
!/aflac2020/
!/ms2021/
/ms2021/work/
!/msad2022_ent/
/msad2022_ent/work/
!/msad2022_pri/
/msad2022_pri/work/
!/msad2023_ent/
/msad2023_ent/work/
!/msad2023_pri/
/msad2023_pri/batch_stitch
/msad2023_pri/work/
!/test-asyncio/
/test-asyncio/*
!/test-asyncio/*.py
!/test-opencv/
/test-opencv/*
!/test-opencv/*.py
!/test-opencv/*.cpp
!/test-opencv-cam3/
/test-opencv-cam3/*
!/test-opencv-cam3/*.py
!/test-opencv-cam3/*.cpp
!/test-opencv-usbcam/
/test-opencv-usbcam/*
!/test-opencv-usbcam/*.py
!/test-sensor/
!/test-sim/
!/test-thread/
!/test-thread2/
!/ev3way-cpp/
!/sample_cpp5/
!/EV3way_EV3RT/
!/loganalysis/
*~
*.swp
.DS_Store
a.out
*30_CS.sh
.$*.drawio.*
.#*
*#
*.bk
__pycache__
